body {
    font-family: 'TT Norms';
    font-size: 16px;
    color: black;
}

.btn-for-pr {
    background: #FF00FF;
    border-radius: 7px;
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 38px;
    text-decoration: none;
    margin-right: 60px;

    &:hover {
        color: white;
    }
}

.btn-for-pay {
    border-radius: 7px;
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
    color: #FF00FF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 38px;
    text-decoration: none;
    margin-right: 60px;

    &:hover {
        color: #FF00FF;
    }

    svg {
        padding-left: 5px;
        padding-top: 7px;
    }
}

.btn-for-send {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    width: 160px;
    height: 43px;
    background: #FF00FF;
    border-radius: 7px;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 43px;
    margin-top: 24px;
    &:hover{
        color: white;
    }
}

.input-group{
        box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.12) !important;
    width: 45%; 
    height: 150px;
    
.form-control{
    border-radius: 7px;
    background-color:azure;
}
}

.swiper-pagination-bullet-active {
    background: #FF00FF !important;
    width: 30px !important;
    border-radius: 9px !important;
}

.swiper-button-next,
.swiper-button-prev {
    color: #FF00FF !important;

}

header {
    background: #FFFFFF;
    box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.12);

    .navbar-brand {
        margin-right: 38px;
    }

    nav {
        width: 100%;
        height: 100px;
    }

    .dropdown-menu {
        background: #FFFFFF;
        box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.12);
        border-radius: 12px;
        border: none;
        padding: 56px 0 0;
        position: relative;
        top: -17px;
        margin: 0;
        z-index: 1;

        .dropdown-item {
            font-size: 16px;
            line-height: 24px;
            display: flex;
        }

        .dropdown-item.active,
        .dropdown-item:active {
            background-color: #FF00FF;
        }
    }

    .navbar-light .navbar-nav {
        .nav-item {
            &.dropdown {
                a {
                    position: relative;
                    z-index: 2;
                }
            }

            .nav-link {
                font-style: normal;
                font weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #333333;
                padding: 0 22px;

                &:hover {
                    color: #FF00FF;
                }
            }
        }
    }

    .dropdown-toggle::after {
        display: none;
    }

    .menu-right {
        align-items: center;

        .menu-contact {
            margin-right: 35px;

            a {
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                color: #000000;
                text-decoration: none;

                img {
                    margin-right: 5px;
                }
            }
        }

        .menu-user {

            button {
                margin-left: 30px;
                background: none;
                border: none;
                padding: 0;
            }
        }

        .menu-cart {
            margin-left: 30px;
        }
    }
}

.home-banner {
    padding-top: 60px;
    padding-right: 95px;
    padding-left: 95px;
    z-index: 0;
    position: relative;

    .swiper-container {
        width: 100%;
        height: 100%;


        .swiper-slide {
            font-size: 18px;
            background: #fff;
            display: flex;


            .block {
                width: 100%;
                background-color: #EBEBF5;
                position: relative;
                box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.12);
                border-radius: 19px;
                height: 300px;
                width: 100%;
                overflow: hidden;
                padding: 50px;

                img {
                    position: absolute;
                    top: 0;
                    right: 0;
                }

                h2 {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 32px;
                    line-height: 38px;
                    color: #333333;
                }

                p {
                    font-size: 20px;
                    line-height: 24px;
                    color: #828282;
                }

                a {
                    font-weight: 500;
                    font-size: 25px;
                    line-height: 30px;
                    color: #FFFFFF;
                    width: 218px;
                    height: 53px;
                    background: #FF00FF;
                    border-radius: 5px;
                    display: block;
                    text-decoration: none;
                    text-align: center;
                    line-height: 53px;
                    margin-top: 24px;
                }
            }
        }
    }
}

.menu-banner {
    padding-left: 95px;
    padding-right: 95px;
    padding-top: 20px;

    .container {

        .swiper-button-next,
        .swiper-container-rtl .swiper-button-prev {
            right: 0;
            justify-content: flex-end;
            background: white;
        }

        .swiper-button-prev,
        .swiper-container-rtl .swiper-button-next {
            left: 0;
            justify-content: flex-start;
            background: white;
        }



        .swiper-container-menu {
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;


            a {
                text-decoration: none;
                font-size: 20px;
                color: black;
                line-height: 27px;
                text-transform: uppercase;
                margin-right: 79px !important;
                margin-left: 30px !important;
                width: auto !important;
                padding: 8px 16px;

                &:hover {
                    color: #FF00FF;
                }

                &.active {
                    background: #FF00FF;

                    color: white;
                    border-radius: 5px;
                }
            }
        }

        @media (max-width: 760px) {
            .swiper-button-next {
                right: 20px;
                transform: rotate(90deg);
            }

            .swiper-button-prev {
                left: 20px;
                transform: rotate(90deg);
            }
        }
    }
}

.home-products {
    margin-top: 30px;

    .products-wrapper {
        display: flex;
        justify-content: space-between;

        .product {
            width: 250px;
            margin-top: 30px;
            margin-bottom: 50px;

            .pr-img {
                background-color: #E6E6E6;
                background-position: center;
                background-repeat: no-repeat;
                border-radius: 5px;
                height: 260px;
                width: 100%;
                display: flex;
                border-style: outset;
                border-color: #FF00FF;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            a.pr-title {
                margin: 13px 0;

                font-weight: 500;
                font-size: 22px;
                line-height: 22px;
                color: #000000;
                width: 218px;
                height: 53px;
                text-decoration: none !important;
                line-height: 53px;

                &:hover {
                    color: #FF00FF;
                }
            }

            .pr-description {
                font-size: 15px;
                line-height: 20px;
                color: #000000;
            }

            .price {
                b {
                    font-size: 22px;
                }
            }

            a.to-cart {
                margin-top: 10px;
                width: 140px;
                height: 38px;
                left: 225px;
                top: 846px;
                background: #FF00FF;
                border-radius: 5px;
                line-height: 38px;
                text-align: center;
                text-decoration: none;
                font-size: 18px;
                color: #FFFFFF;
                font-weight: 500;
                display: block;
            }
        }
    }
}

.pr-pagination {
    .pagination-block {
        display: flex;
        justify-content: center;

        ul {
            li {
                a {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 25px;
                    color: #000000;
                    width: 40px;
                    height: 40px;
                    border-radius: 5px;
                    text-align: center;
                    background-color: none;
                    border: 0px solid #dee2e6;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        background-color: #FF00FF;
                        color: white;
                    }

                    svg {


                        &:hover {
                            color: white;
                        }
                    }
                }

                &.active {
                    a {
                        background: #FF00FF;
                        color: white;
                        margin: 0 6px;
                    }
                }
            }
        }
    }
}

.home-video {
    margin-top: 40px;

    .full-hd {
        width: 1440;
        margin: 0 auto;
    }
}

.banner {
    padding: 60px 0;

    .block {
        height: 250px;
        width: 100%;
        background: #F2F2F2;
        box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.03);
        border-radius: 18px;
        padding: 30px 0 30px 40px;
        background-image: url(../img/samsonov.png);
        background-position: center right;
        background-repeat: no-repeat;

        .title {
            font-size: 32px;
            line-height: 40px;
            color: #333333;
        }

        a {
            font-weight: 500;
            font-size: 25px;
            color: #FFFFFF;
            width: 170px;
            height: 53px;
            background: #FF00FF;
            border-radius: 5px;
            display: block;
            text-decoration: none;
            text-align: center;
            line-height: 53px;
            margin-top: 24px;
        }
    }
}

footer {
    background: #FF00FF;
    padding: 34px 0;

    .footer-wrapper {
        display: flex;
        justify-content: space-between;

        .footer-left {
            .phones {
                display: flex;
                justify-content: space-between;

                .phone-item {
                    display: flex;
                    flex-direction: column;
                    margin-right: 60px;

                    &:last-child {
                        margin-right: 0;
                    }

                    span {
                        font-size: 18px;
                        line-height: 32px;
                        color: #FFFFFF;
                    }

                    a {
                        font-weight: 500;
                        font-size: 19px;
                        line-height: 40px;
                        color: #FFFFFF;
                        text-decoration: none;
                    }
                }
            }

            .working {
                font-size: 16px;
                line-height: 32px;
                color: #FFFFFF;
                margin-top: 20px;
            }

            .email {
                display: flex;
                flex-direction: column;
                margin-top: 10px;

                a {
                    font-size: 18px;
                    line-height: 32px;
                    text-decoration: none;
                    color: #FFFFFF;
                }

                a.help {
                    padding-top: 10px;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 22px;
                    text-decoration-line: underline;
                }
            }
        }

        .footer-center {
            .social {
                display: flex;
                flex-direction: column;

                a {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 32px;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                    font-variant: small-caps;
                    text-decoration: none;
                    color: #FFFFFF;
                    margin-bottom: 40px;
                }
            }
        }

        .footer-right {
            .sign-in {
                a {
                    font-size: 18px;
                    line-height: 32px;
                    text-decoration: none;
                    color: #FFFFFF;
                }
            }
        }
    }

    .footer-bottom {
        margin-top: 20px;

        span {

            font-size: 13px;
            line-height: 23px;
            text-decoration: none;
            color: #FFFFFF;

        }

        a {
            padding-left: 50px;
            font-size: 13px;
            line-height: 23px;
            text-decoration: none;
            color: #FFFFFF;
        }
    }
}

.dil-page {
    padding: 45px 0 60px;

    .dil-page-wrapper {
        h1 {
            padding-bottom: 25px;
        }

        p {
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 26px;
            color: #828282;
            padding-bottom: 25px;
        }
    }
}

@media screen and (min-width: 975px) and (max-width: 1140px) {
    .home-banner {
        padding-top: 60px;
        padding-right: 95px;
        padding-left: 95px;
        z-index: 0;
        position: relative;

        .swiper-container {
            width: 100%;
            height: 100%;


            .swiper-slide {
                font-size: 18px;
                background: #fff;
                display: flex;


                .block {
                    width: 100%;
                    background-color: #EBEBF5;
                    position: relative;
                    box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.12);
                    border-radius: 19px;
                    height: 230px;
                    overflow: hidden;
                    padding: 50px;

                    img {
                        position: absolute;
                        top: 0;
                        right: 0;
                        height: 230px;
                        width: 470px;
                    }

                    h2 {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 25px;
                        line-height: 31px;
                        color: #333333;
                    }

                    p {
                        font-size: 15px;
                        line-height: 21px;
                        color: #828282;
                    }

                    a {
                        font-weight: 500;
                        font-size: 21px;
                        line-height: 45px;
                        color: #FFFFFF;
                        width: 180px;
                        height: 45px;
                        background: #FF00FF;
                        border-radius: 5px;
                        display: block;
                        text-decoration: none;
                        text-align: center;
                        margin-top: 21px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 762px) and (max-width: 975px) {
    .home-banner {
        padding-top: 60px;
        padding-right: 95px;
        padding-left: 95px;
        z-index: 0;
        position: relative;

        .swiper-container {
            width: 100%;
            height: 100%;


            .swiper-slide {
                font-size: 18px;
                background: #fff;
                display: flex;


                .block {
                    width: 100%;
                    background-color: #EBEBF5;
                    position: relative;
                    box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.12);
                    border-radius: 19px;
                    height: 150px;
                    overflow: hidden;
                    padding-top: 25px;
                    padding-left: 45px;

                    img {
                        position: absolute;
                        top: 0;
                        right: 0;
                        height: 150px;
                        width: 310px;
                    }

                    h2 {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 15px;
                        line-height: 31px;
                        color: #333333;
                    }

                    p {
                        font-size: 11px;
                        line-height: 21px;
                        color: #828282;
                    }

                    a {
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 30px;
                        color: #FFFFFF;
                        width: 130px;
                        height: 30px;
                        background: #FF00FF;
                        border-radius: 5px;
                        display: block;
                        text-decoration: none;
                        text-align: center;
                        margin-top: 12px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 600px) and (max-width: 762px) {
    .swiper-container {
        display: table;
    }
}
